@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kumbh+Sans:wght@300&family=Signika:wght@400;515&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: inherit;
}

:root{/*pseudoclase para variables*/
    --bg: #1d3557;
    --fg: #FEFEFEFE;/*141414*/
    --cardbg: #EEE;
    --buttonbg: #1d3557;
    --accent: #4ecdc4;
    --border: 5px;
    --link-text: #141414;
    --shadow: 0 10px 10px rgba(0, 0, 0, .5);
}

body{
    font-family: 'Signika', sans-serif;
    background-color: var(--bg);
}

i{
    color: var(--bg);
}

.card{
    width: 35%;
    padding: 50px;
    border-radius: var(--border);
    margin: 5% auto;
    background-color: var(--cardbg);
    box-shadow: var(--shadow);
}

.text{
    line-height: 25px;
    font-size: 15px;
    text-align: justify;
    font-weight: 300;
}

.text > i{
    color: #FFAC33;
}

.photo{
    margin: 10px auto;
    width: 250px;
    height: 250px;

    overflow: hidden;
    border-radius: 50%;
    box-shadow: var(--shadow);
    background-color: var(--bg);
}

.photo img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.ME{
    text-align: center;
    font-size: 40px;
    margin: 20px 0px 15px 0px;
}

.ME::after{
    width: 25%;
    height: 25%;
    display: flex;
    object-fit: cover;
    content: "";
    background-image: url("./assets/totoros.gif/400/100");
}

.subtitle{
    font-size: 20px;
    margin: 10px 0px 15px 0px;
}

.block{
    margin-bottom: 20px;
}

.list_item{
    list-style: none;
    transition: all .3s ease;
}

.links{
    color: var(--link-text);
    font-size: 15px;
    text-decoration: none;
}

.links:hover{
    padding: 0px 10px 0px 10px;
    color: var(--cardbg);
    border-radius: 10px;
    background-color: var(--bg);
}

.list_item:hover{
    transform: translateY(-6px);
    color: var(--link-text);
}

.buttons-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.button{
    background-color: var(--buttonbg);
    text-decoration: none;
    color: var(--fg);
    font-size: 15px;
    padding: 10px;

    transition: all .3s ease;
    border-radius: var(--border);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.button:hover{
    font-size: 20px;
    transform: translateY(-4px);
    color: var(--cardbg);
    background-color: #e63946;
    box-shadow: 0 7px 7px;
}